@import './basicInformation.scss';
@import './multimediaMaterials.scss';

.apartment_attribute_panel{
    display: flex;
    flex-direction: row;
}

.apartment_basic_information,.apartment_multimedia_materials{
    margin: 0 25px;
}